DATABASE_URL=postgresql://lost_found_user:lost_found_password@localhost:5433/lost_found_db
DIRECT_URL=postgresql://lost_found_user:lost_found_password@localhost:5433/lost_found_db
PORT=5001
NODE_ENV=development
JWT_SECRET=change_me
